extends layout
block content

  h1
  p Welcome to
  form(action='/create-project', method='post')
    input#user_submission(name='project', placeholder='Enter Project Name')
    button Submit
  .project_lists

    ul
      for house in houses
        li= house.project_name
          form(action='/delete/' + house.id, method='post')
            button X
          form
            button edit
