<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/create-project" method="post">
      <input name="project" placeholder='Enter Project Name' id='user_submission' />
      <button>Submit</button>
    </form>
    <div class='project_lists'>
    </div>
    <button class='delete_project'>X</button>



  </body>
</html>
